/tmp/
/node_modules/
.pnp.*
cdktf.out/
.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
*tfstate*
.envrc
src/*
!src/lib/constraints.json
!src/lib/versions.json
requirements.txt
vendor/
__pycache__/
.hypothesis/
